In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
data=pd.read_csv("survey.csv")

In [4]:
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

# Data Preprocessing

In [5]:
data['Gender'].replace('M','Male',inplace=True)

In [6]:
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [7]:
data['Gender'].unique()

array(['Female', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [8]:
data['Gender'].replace("male","Male",inplace=True)

In [9]:
print(data['Gender'])

0       Female
1         Male
2         Male
3         Male
4         Male
         ...
1254      Male
1255      Male
1256      Male
1257         f
1258      Male
Name: Gender, Length: 1259, dtype: object

In [10]:
data['Gender'].replace("f","Female",inplace=True)

In [11]:
data['Gender']

0       Female
1         Male
2         Male
3         Male
4         Male
         ...
1254      Male
1255      Male
1256      Male
1257    Female
1258      Male
Name: Gender, Length: 1259, dtype: object

In [12]:
data['Gender'].unique()

array(['Female', 'Male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [13]:
data['Gender'].replace("female","Female",inplace=True)
data['Gender'].replace("m","Male",inplace=True)
data['Gender'].replace("Male-ish","Male",inplace=True)
data['Gender'].replace("maile","Male",inplace=True)
data['Gender'].replace("Trans-female","Female",inplace=True)
data['Gender'].replace("Cis Female","Female",inplace=True)
data['Gender'].replace("F","Female",inplace=True)
data['Gender'].replace("something kinda male?","Male",inplace=True)
data['Gender'].replace("Cis Male","Male",inplace=True)
data['Gender'].replace("Woman","Female",inplace=True)
data['Gender'].replace("Mal","Male",inplace=True)
data['Gender'].replace("Male (CIS)","Male",inplace=True)
data['Gender'].replace("queer/she/they","Female",inplace=True)
data['Gender'].replace("Femake","Female",inplace=True)
data['Gender'].replace("woman","Female",inplace=True)
data['Gender'].replace("make","Male",inplace=True)
data['Gender'].replace("Female ","Female",inplace=True)
data['Gender'].replace("Female ","Female",inplace=True)

In [14]:
data['Gender'].unique()

array(['Female', 'Male', 'non-binary', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Androgyne', 'Agender', 'cis-female/femme',
       'Guy (-ish) ^_^', 'male leaning androgynous', 'Male ', 'Man',
       'Trans woman', 'msle', 'Neuter', 'Female (trans)', 'queer',
       'Female (cis)', 'Mail', 'cis male', 'A little about you', 'Malr',
       'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [15]:
data['Gender'].replace("non-binary","Transgender",inplace=True)
data['Gender'].replace("Make","Male",inplace=True)
data['Gender'].replace("All","Transgender",inplace=True)
data['Gender'].replace("Enby","Transgender",inplace=True)
data['Gender'].replace("fluid","Transgender",inplace=True)
data['Gender'].replace("Genderqueer","Transgender",inplace=True)
data['Gender'].replace("Androgyne","Transgender",inplace=True)
data['Gender'].replace("Agender","Transgender",inplace=True)
data['Gender'].replace("cis-female/femme","Female",inplace=True)
data['Gender'].replace("cis-female/femme","Female",inplace=True)
data['Gender'].replace("Guy (-ish) ^_^","Male",inplace=True)
data['Gender'].replace("male leaning androgynous","Male",inplace=True)
data['Gender'].replace("Male ","Male",inplace=True)
data['Gender'].replace("Man","Male",inplace=True)
data['Gender'].replace("Trans woman","Female",inplace=True)
data['Gender'].replace("msle","Male",inplace=True)
data['Gender'].replace("Neuter","Transgender",inplace=True)

In [16]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Nah', 'Female (trans)', 'queer',
       'Female (cis)', 'Mail', 'cis male', 'A little about you', 'Malr',
       'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [17]:
data['Gender'].replace("Female (trans)","Female",inplace=True)
data['Gender'].replace("queer","Queer",inplace=True)
data['Gender'].replace("Female (cis)","Female",inplace=True)
data['Gender'].replace("Mail","Male",inplace=True)
data['Gender'].replace("cis male","Male",inplace=True)
data['Gender'].replace("Malr","Male",inplace=True)
data['Gender'].replace("femail","Female",inplace=True)
data['Gender'].replace("Cis Man","Male",inplace=True)
data['Gender'].replace("ostensibly male","Male",inplace=True)

In [18]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Nah', 'Queer',
       'A little about you', 'p',
       'ostensibly male, unsure what that really means'], dtype=object)

In [19]:
data[data['Gender']=="Nah"]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
387,2014-08-27 15:24:22,29,Nah,United States,CA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,Yes,No,Some of them,No,No,Maybe,No,No,NaN

In [20]:
data[data.duplicated]

Empty DataFrame
Columns: [Timestamp, Age, Gender, Country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, comments]
Index: []

[0 rows x 27 columns]

In [21]:
# data.iloc([[387]])
data[data['Gender']=="Nah"]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
387,2014-08-27 15:24:22,29,Nah,United States,CA,Yes,Yes,Yes,Sometimes,1-5,...,Very difficult,Yes,No,Some of them,No,No,Maybe,No,No,NaN

In [22]:
data=data.drop(387)

In [23]:
data[data['Gender']=="Nah"]

Empty DataFrame
Columns: [Timestamp, Age, Gender, Country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, comments]
Index: []

[0 rows x 27 columns]

In [24]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Queer', 'A little about you',
       'p', 'ostensibly male, unsure what that really means'],
      dtype=object)

In [25]:
data[data['Gender']=="A little about you"]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
989,2014-08-29 09:10:58,8,A little about you,"Bahamas, The",IL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,

In [26]:
data=data.drop(989)

In [27]:
data[data['Gender']=="A little about you"]

Empty DataFrame
Columns: [Timestamp, Age, Gender, Country, state, self_employed, family_history, treatment, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, comments]
Index: []

[0 rows x 27 columns]

In [28]:
data[data['Gender']=="p"]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
1127,2014-08-30 20:55:11,-1,p,United States,AL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,password: testered

In [29]:
data=data.drop(1127)

In [30]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Queer',
       'ostensibly male, unsure what that really means'], dtype=object)

In [31]:
data.Gender.value_counts()

Male                                              994
Female                                            252
Transgender                                         8
Queer                                               1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [32]:
data.replace("ostensibly male, unsure what that really means","Male",inplace=True)

In [33]:
data['Gender'].unique()

array(['Female', 'Male', 'Transgender', 'Queer'], dtype=object)

In [34]:
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [35]:
data.shape

(1256, 27)

In [36]:
data.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1094
dtype: int64

In [37]:
data.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

In [38]:
data['self_employed']=data['self_employed'].fillna("NA")
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NA,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,Male,United States,IN,NA,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NA,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NA,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NA,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [39]:
data['state']=data['state'].fillna("NA")

In [40]:
data.isna().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                           0
self_employed                   0
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1094
dtype: int64

In [41]:
data['work_interfere']=data['work_interfere'].fillna("NA")
data['comments']=data['comments'].fillna("NA")

In [42]:
data.isna().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
dtype: int64

# Exploratory Data Analysis